build/*
.vscode
.catkin_workspace
devel/*
install/*
log/*
.ros/*
__pycache__
*.swp
*.swo
*.bu
*.jpg
*.tgz
*.tar.gz
*.pnm
*.pgm
*.png
*.dat
*.bin
.pylintrc
out
tmp
results/*
data/resources/.*
data_storing*
*.db3
*.csv
**/.DS_Store
*.sif